@model asp.net_1.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Личный кабинет";
}

<h2>Профиль пользователя</h2>

<div>
    <p><strong>Имя пользователя:</strong> @ViewBag.Username</p>
    <p><strong>Роль:</strong> @ViewBag.Role</p>
</div>
