@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/layout.cshtml";
    ViewData["Title"] = "Главная страница";
}





<div class="container">
    <div class="jumbotron text-center bg-white">
        <h1 class="display-4">Добро пожаловать в ресторан "Белый Гусь"!</h1>
        <p class="lead">Погрузитесь в мир изысканной кухни и уютной атмосферы.</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Наша История</h2>
            <p>
                Ресторан "Белый Гусь" был основан в 1995 году, и с тех пор мы привлекаем гостей со всего мира своими уникальными блюдами и теплой атмосферой. Наши шеф-повара используют только свежие и качественные ингредиенты, чтобы создать кулинарные шедевры, которые порадуют даже самых взыскательных гурманов.
            </p>
            <p>
                В нашем ресторане вы можете насладиться как классическими блюдами, так и авторскими изысками. Мы гордимся нашей историей и стремимся сделать каждый ваш визит незабываемым.
            </p>
        </div>
        <div class="col-md-6">
            <img src="~/images/restaurant.jpg" class="img-fluid rounded" alt="Ресторан Белый Гусь">
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <h3>Уютная атмосфера</h3>
            <p>
                Наш ресторан предлагает уютную атмосферу, где вы можете расслабиться и насладиться едой в компании друзей и семьи.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Изысканные блюда</h3>
            <p>
                Мы предлагаем разнообразное меню, включающее в себя как классические, так и авторские блюда, приготовленные с любовью и заботой.
            </p>
        </div>
        <div class="col-md-4">
            <h3>Отличное обслуживание</h3>
            <p>
                Наши сотрудники всегда готовы помочь вам и сделать ваш визит незабываемым.
            </p>
        </div>
    </div>
</div>